# Google OAuth 2.0 - Client ID
# Crée-le sur https://console.cloud.google.com (APIs & services > Identifiants > ID client OAuth > Application Web)
# Origine JavaScript autorisée à ajouter : http://localhost:5173
# Copie ce fichier en .env.local et renseigne ta valeur :
VITE_GOOGLE_CLIENT_ID=xxxxxxxxxxxx.apps.googleusercontent.com
